# Vagrant
.vagrant

# Berkshelf
Berksfile.lock

# Kitchen
.kitchen/
.kitchen.local.yml

# Bundler
Gemfile.lock
bin/*
.bundle/*

# Editors
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

# Chefbox
.environment
.bundle/
.chef*/
!.chef-skel/
bootstrap/keys/
keys/
host-*/
!host-chefbox/
roles/
!roles/common/*.json
!roles/crb/*.json
!roles/NODE_PROFILE.json
!roles/README.md
