# File: ~/.local/share/applications/linuxband.desktop
# Perms: 0644

[Desktop Entry]
Version=1.0
X-Ubuntu-Gettext-Domain=linuxband

Name=LinuxBand
Comment=Graphical user-interface for MMA (Musical MIDI Accompaniment)
Icon=applications-multimedia
Exec=linuxband
Terminal=false
Type=Application
Categories=AudioVideo;Audio;
OnlyShowIn=Unity;

# Translators: Add whatever keywords you want in your language, separated by semicolons
# These keywords are used when searching for applications in dashes, etc.
Keywords=LinuxBand;
