# File: ~/.local/share/applications/mobile3g.desktop
# Perms: 0644

[Desktop Entry]
Version=1.0
Encoding=UTF-8

Name=Internet Mobile
Name[es]=Internet Móvil
Name[ca_ES]=Internet Mòbil
Comment=Manages 3G internet connection and 3G USB modems
Icon=preferences-system-network
Exec=mobile3g toggle
Terminal=false
Type=Application
Categories=System;Internet;
OnlyShowIn=Unity;
Keywords=Mobile;Modem;3G;

X-Ayatana-Desktop-Shortcuts=Status;Info;

[Status Shortcut Group]
Name=Status
Name[es]=Estado
Name[ca_ES]=Estat
Exec=mobile3g status
TargetEnvironment=Unity

[Info Shortcut Group]
Name=Connection information
Name[es]=Información de la conexión
Name[ca_ES]=Informació de la connexió
Exec=mobile3g connected info
TargetEnvironment=Unity
