[Desktop Entry]
Name=Caffeine
Comment=Temporarily deactivate the screensaver and sleep mode
Exec=/usr/bin/caffeine
Terminal=false
Type=Application
Icon=caffeine
Encoding=UTF-8
Categories=GNOME;GTK;Utility;
StartupNotify=false
