[Desktop Entry]
Name=Caffeine
Comment=Temporarily deactivate the screensaver and sleep mode
Exec=/usr/bin/caffeine-indicator
Icon=caffeine
Type=Application
Terminal=false
Categories=GNOME;GTK;Utility;
StartupNotify=false
