[Desktop Entry]
Name=touchpad-indicator-autostart
Comment=Touchpad-Indicator official shortcut
Exec=/usr/bin/touchpad-indicator
Type=Application
Icon=/usr/share/pixmaps/touchpad-indicator.svg
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
